/*font for intro*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/*css start*/
/* css to handle different media will later write */

body
{
	overflow-x: scroll;
}
.section-heading
{
	height: 50px;
	font-size: 35px;
	font-weight: 500;
}
/*css for navbar start*/
.navbar
{
	position: fixed;
	z-index: 10000;
	width: 100%;
	top: 0px;
}
.navbar-light .navbar-nav .nav-link
{
	margin-top: 6px;
	color: white;
}
nav li a
{
	font-weight: 700;
}
.nav-link
{
	font-size: 17px;
}
.dropdown-menu li
{
	width: 180px;
	margin: 5px;
}
.dropdown-item
{
	font-size: 18px;
	font-weight: 500;
}
.dropdown-menu li a:hover
{
	font-weight: 800;
}
/* css for media query of navbar section*/

@media(max-width: 992px) and (min-width: 768px)
{
	nav .container
	{
		margin: 0px;
		padding: 0px;
	}
	.nav-link
	{
		font-size: 15px;
	}
}

@media(max-width: 768px)
{
	nav .container
	{
		margin-left: 0px;
		margin-right: 0px;
	}
	.nav-link
	{
		font-size: 14px;
	}
}
@media(max-width: 576px)
{
	.nav .nav-item
	{
		padding: 5px;
	}
	.nav .nav-link
	{
		padding: 0px;
		font-size: 12px;
	}
}
/* css for media query of navbar section end here*/
/*css end for navbar*/

/*css for main section start*/
.about
{
	padding-top: 50px;
	min-height: 850px;
}
.about-div .row .col-sm
{
	min-height: 650px;
	padding-top: 95px;
	margin-right: 0px;
	animation-name: about-translate;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}
@keyframes about-translate
{
	from
	{
		margin-top: 100px;
	}
	to
	{
		margin-top: 0px;
	}
}
.about-intro-div
{
	margin-top: 5%;
}
.about-intro-div h1
{
	border-bottom: rgb(0,0,0,0.5) 1px solid;
	border-bottom-width: 2px;
	width: 100px;
}
.row div img
{	
	height: 400px;
	width: 350px;
	padding: 15px;
	margin: 15px;
	border-radius: 48%;
}
.intro
{
	padding: 5px;
	font-size: 25px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 500;
}
.explore-button a
{
	text-decoration: none;
	font-size: 20px;
}

/*css for media query for main section*/
@media(max-width: 992px) and (min-width: 768px)
{
	.row div img
	{
		height: 350px;
		width: 410px;
		padding: 15px;
		margin: 15px;
		border-radius: 48%;
	}
}

@media(max-width: 768px)
{
	.about-div .row .col-sm
	{
		padding-top: 10px;
		min-height: 400px;
	}
	.row div img
	{	
		height: 360px;
		width: 370px;
		padding: 15px;
		margin-left: 30px;
		border-radius: 48%;
	}
}
@media(max-width: 576px)
{
	.about-div .row .col-sm
	{
		padding-top: 10px;
		min-height: 250px;
	}
	/* to align img at center */
	/*.row .col-xl-5
	{
		background-color: red;
		left: 0%;
	}*/
	.row div img
	{
		/*background-color: red;*/
		/*top: 50px;*/
		height: 260px;
		width: 250px;
		padding: 15px;
		margin: 15px;
		border-radius: 48%;
	}
	nav .container
	{
		margin-left: 0px;
		margin-right: 0px;
	}
	.row div img
	{
		margin-left: 0px;
	}
	.intro
	{
		font-size: 18px;
	}
}
/*css end for main section*/


/* css start for skill section */

.skill-section
{
	padding-top: 50px;
	min-height: 500px;
}
.skill-section .container h1
{
	padding-bottom: 15px;
}
.skill-section .container .row div>p
{
	font-size: 20px;
	font-weight: 900;
}
.skill-section .container .row ul li
{
	margin-left: -50px;
	list-style-type: none;
	font-size: 19px;
	font-family: 'Source Sans Pro', sans-serif;
}

/* css end for skill section*/


/* css start for project section*/
.project-section
{
	padding-top: 60px;
	min-height: 820px;
}
.description
{
	font-size: 17px;
}
.table1 thead
{
	font-size: 18px;
}
.table1 tbody tr td a i
{
	font-size: 20px;
}
.table1 tbody tr:hover a i
{
	font-size: 28px;
}
tr td:nth-child(2)
{
	text-transform: capitalize;
	font-size: 15px;
}
tr td:nth-child(1)
{
	font-size: 15px;
}
@media (max-width: 768px)
{
	.project-section
	{
		min-height: 550px;
	}
	/* description column create problem in mobile and tab view so I remove it for that device only */
	.description
	{
		display: none;
	}
}
/* css end for project section */

/* css for contact me section start */
.contact
{
	padding-top: 45px;
	min-height: 350px;
}

.contact .container .row .col-lg-4 div
{
	min-height: 190px;
	width: auto;
	margin: 10px;
	border: 1px solid #7456c6;
	border-radius: 10px;
}
.contact .container .row i
{
	padding-top: 20px;
	font-size: 52px;
}
.contact .container .row :hover i
{
	padding-top: 20px;
	font-size: 60px;
}
/* css for contact me section end here */

/* css start for connect me section*/
.connect-me
{
	padding-top: 10px;
	min-height: 200px;
}
.connect-me div .row ul li
{
	list-style-type: none;
}
.connect-me div .row ul li a i,img
{
	height: 60px;
	padding-top: 20px;
	font-size: 30px;
}

.connect-me div .row ul li
{
	float: left;
	margin-left: 22%;
}
@media (max-width: 576px)
{
	.connect-me div .row ul li
	{
		float: left;
		margin-left: 0%;
	}
	.connect-me div .row ul li a i
	{
		height: 30px;
		width: 30px;
	}
}
/* css for connect me section end here */

/* css for footer section */
.footer
{
	height: 50px;
}
.footer div
{
	top: 50%;
	font-size: 14px;
	position: relative;
	transform: translateY(-50%);
}
/* css end for footer section */
/* css for top button start */
.top-button
{
  	display: none; 
  	position: fixed;
  	bottom: 3%; 
  	right: 3%; 
  	cursor: pointer;
  	border-radius: 19%;
  	font-size: 25px;
  	width: 45px;
  	/*max-height: 50px;*/
}
/* css end for top button */
/* css to just debug some thing*/

@media(max-width: 300px)
{
	.connect-me div .row ul li
	{
		padding-top: 30px;
		float: left;
		display: block;
	}
	.github
	{
		margin-left: 50%;
	}
}

/* css used during debuging and fixing issues */
/* css end for debuging */
/* issue not fixed yet */
/* for very small device max-width: 300px ; last section that is connect with me 
is not responsive */
