/* by default background color is
background-color: #f8f9fa;
*/

.section-heading
{
	color: #7456c6;
}
/*css for navbar start*/
nav li a
{
	color: #fff;
}
.navbar
{
	background-color: #7456c6;
}
.navbar:hover
{
	/*background-color: #f8f9fa;*/
}
.navbar:hover .nav-item>a
{
	/*color: #7456c6;*/
}

.nav-link:hover
{
	color: #000;
}

.dropdown-menu li a:hover
{
	color: #7456c6;
}

/*css end for navbar*/

/*css for main section start*/

.about-intro-div h1
{
	border-bottom: rgb(255,255,255) 1px solid;
	border-bottom-width: 2px;
}

.explore-button
{
	background-color: #f8f9fa;
}
.explore-button a
{
	color: #7456c6;
}
.explore-button:hover
{
	background-color: #7456c6; 
}
.explore-button:hover a
{
	color: white;
}

/* css start for skill section */

.skill-section .container .row div>p
{
	color: #7456c6;
}
/* css end for skill section*/


/* css for contact me section start */
.contact .container .row
{
	background-color: #f8f9fa;
}
.contact .container .row .col-lg-4 div
{
	border: 1px solid #7456c6;
	background-color: white;
	border-radius: 10px;
}
.contact .container .row i
{
	color: #7456c6;
}
.contact .container .row :hover i
{
	color: #7456c6;
}
/* css for contact me section end here */

/* css start for connect me section*/
.connect-me div .row ul li a i,img
{
	height: 60px;
	padding-top: 20px;
	font-size: 30px;
	color: #000;
}
.connect-me div .row ul li a i:hover
{
	color: #7456c6;
}

@media (max-width: 576px)
{
	.connect-me div .row ul li a i
	{
		color: #000;
	}
}
/* css for connect me section end here */

/* css for footer section */
.footer
{
	background-color: #f8f9fa;
}
.footer div
{
	color: #000;
	opacity: 0.6;
}
/* css end for footer section */
/* css for top button start */
.top-button
{
  	background-color: #7456c6;
  	color: #fff; 
}
/* css end for top button */
/* css to just debug some thing*/

/* css used during debuging and fixing issues */

/* css end for debuging */