.top
{
	margin: 5px;
	padding: 10px;
	top: 35%;
	right: 42%;
	transform: translate(-3%,-36%);
	position: absolute;
}
.image img
{
	height: 190px;
	width: 170px;
	margin-left: 36px;
	border-radius: 100%;
}
.image h1
{
	font-weight: 700;
	font-family: 'Baloo Paaji 2', cursive;
}
.social-link
{
	margin-top: 20px;
	margin-left: -16px;
}

.college:hover,li a:hover,li a
{
	text-decoration: none;
	color: rgba(51,103,214,0.7);
}
.codeforces
{
	width: 30px;
	height: 30px;

}
ul li
{
	list-style: none;
	display: inline;
	margin-right: 25px;
}
ul li a
{
	font-size: 25px;
	color:black;
}
.footer
{
	text-align: center;
	background-color: rgba(192, 169, 169, 0.39);
	position: absolute;
	top: 95%;
	height: 40px;
	width: 100%;
	padding: 8px;
	opacity: 0.6;
}

.pdf
{
	margin:15px;
	margin-top: -7px;
	padding: 3px;
	width: 85%;
	border: none;
	font-weight: 900;
	border-radius: 10px;
}
.pdf a
{
	margin-top: -7px;
	color: rgb(51,103,214);
	height: 42px;
	margin-top: 0px;
	text-overflow: none;
	font-size: 15px;
	font-weight: 800;
}
/* media query */
@media (max-width:1600px)
{
	.top
	{
		top: 35%;
		right: 40%;
		transform: translate(2%,-40%);
		position: absolute;
	}
}

/*1200
1024
768
640*/
@media(max-width:1200px)
{
	.top
	{
		text-align: center;
		top: 31%;
		right: 34%;
		padding: 10px;
		transform: translate(-3%,-35%);
		position: absolute;
	}
}

@media(max-width: 992px)
{
	.top
	{
		text-align: center;
		top: 31%;
		right: 30%;
		padding: 10px;
		transform: translate(-4%,-35%);
		position: absolute;
	}
}

@media(max-width: 768px)
{
	.top
	{
		top: 31%;
		right: 26%;
		transform: translate(-4%,-35%);
		position: absolute;
	}
}

@media(max-width: 576px)
{
	.top
	{
		top: 31%;
		right: 18%;
		transform: translate(-4%,-35%);
		position: fixed;
	}
}
